.image-list {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes jump {
  15% {
    transform: translateY(-20px);
  }
  30%,
  100% {
    transform: translateY(0px);
  }
}
.computer {
  width: 70vh;
  margin: 10px;
  animation: jump 3s ease infinite;
}
.tablet {
  width: 24vh;
  margin: 10px;
  animation: jump 3s ease infinite 1s;
}
.smartphone {
  width: 10vh;
  margin: 10px;
  animation: jump 3s ease infinite 2s;
}
